* {
	margin: 0;
	padding: 0;
}
#top {
	padding: 10px;
	text-align: center;
	background-color: aqua;
}
#pic {
	width: 300px;
	height: 300px;
	border-radius: 250px;
	padding-bottom: 0px;
}
#landing {
	background-color: aqua;
	text-align: right;
	padding-bottom: 20px;
	padding-right: 300px;
	padding-left: 10px;
	font-family: "Georgia", serif;
}
h1 {
	font-family: "Georgia", serif;
	margin-bottom: 20px;
	font-size: 100px;
}
h2 {
	font-family: "Palatino", serif;
	margin-bottom: 10px;
	font-size: 30px;
}

 .example button {
  float: right;
  width: 10%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 10px;
  border: 1px solid grey;
  border-left: none;
  
 }

 #feature {
 	text-align: right;
 	background-color: lightsalmon;
 	padding-top: 100px;
 	padding-left: 10px;
 	text-align: center;
 	font-size: 50px;
 }
h3 {
	font-family: "Brush Script MT", cursive;
	margin-bottom: 10px;
	font-size: 40px
	border: 1px solid black;
}
#feature{
	padding-top: 50px;
	padding-bottom: 200px;

}
#pic2 {
	padding-top: 80px;
	width: 300px;
	height: 300px;
	padding-bottom: 0px;
}
.text {
	padding-top: 20px;
	font-family: "Comic Sans MS", cursive;
	font-size: 40px;
	color: dodgerblue;
}
.card {
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
#last {
	background-color: grey;
	font-family: "Bradley Hand" cursive;
	font-size: 25px;
	text-align: center;
	padding: 8px;